<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVRARIA</title>

    <!-- Botstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="./angularJS/angular.js"></script>
    <script src="./controllers/book_controller.js"></script>

</head>
<body ng-app="LivrariaApp">

    <div ng-controller="LivrariaController as livraria">
        <h1>Livraria</h1>

        <form ng-submit="livraria.addBook()">
            <input type="text" ng-model="livraria.pesq" placeholder="Título" required>
            <button type="submit">{{'Adicionar'}}</button>
        </form>

        <form ng-submit="livraria.saveEdit()">
            <input type="text" ng-model="livraria.newBook.title" placeholder="Título" required>
            <input type="text" ng-model="livraria.newBook.author" placeholder="Autor" required>
            <input type="number" ng-model="livraria.newBook.year" placeholder="Ano">
            <input type="text" ng-model="livraria.newBook.genre" placeholder="Gênero">
            <button type="submit" ng-disabled="livraria.editingIndex === null">{{'Salvar'}}</button>
        </form>

        <ul>
            <li ng-repeat="book in livraria.books">
                <strong>{{book.title}}</strong> por {{book.author}} ({{book.year}}) - {{book.genre}}
                <button ng-click="livraria.editBook($index)">Editar</button>
                <button ng-click="livraria.removeBook(book._id, $index)">Excluir</button>
            </li>
        </ul>
    </div>
    
</body>
</html>